$font-sans-serif: 'Source Sans Pro', Helvetica, sans-serif;
$font-accent: 'Megrim', Helvetica, sans-serif;

@mixin font-step-down-2 {
  font-size: 16px;
  line-height: 1.4;
}

@mixin font-step-down-1 {
  font-size: 18px;
  line-height: 1.4;

  @media print {
    font-size: 16px;
  }
}

@mixin font-base {
  font-size: 20px;
  line-height: 1.5;
}

@mixin font-step-up-1 {
  font-size: 22px;
  line-height: 1.2;
}

@mixin font-step-up-2 {
  font-size: 24px;
  line-height: 1.2;
}

@mixin font-step-up-3 {
  font-size: 30px;
  line-height: 1.3;
}

@mixin font-site-title {
  font-family: $font-accent;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.3;

  a {
    color: $color-pink;
    text-shadow:
      0 0 0 $color-lavender,
      0 0 10px $color-lavender,
      0 0 20px $color-lavender;
    transition: text-shadow 150ms ease-out;

    &:hover,
    &:focus {
      outline: none;
      text-shadow:
        0 0 0 $color-pink,
        0 0 30px $color-pink,
        0 0 40px $color-pink;
      }
  }

  @media (min-width: $small) {
    font-size: 50px;
    line-height: 1.2;
  }
}
