$font-sans-serif: 'Source Sans Pro', Helvetica, sans-serif;
$font-accent: 'Megrim', Helvetica, sans-serif;

@mixin font-step-down-2 {
  font-size: 16px;
  line-height: 1.4;
}

@mixin font-step-down-1 {
  font-size: 18px;
  line-height: 1.4;

  @media print {
    font-size: 16px;
  }
}

@mixin font-base {
  font-size: 20px;
  line-height: 1.5;
}

@mixin font-step-up-1 {
  font-size: 22px;
  line-height: 1.2;
}

@mixin font-step-up-2 {
  font-size: 24px;
  line-height: 1.2;
}

@mixin font-step-up-3 {
  font-size: 30px;
  line-height: 1.3;
}

@mixin font-site-title {
  background: -webkit-linear-gradient($color-lavender, $color-slate);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font-accent;
  text-transform: uppercase;
  text-shadow: 0 2px 0 0px hsl(330, 100%, 25%);
  font-size: 30px;
  line-height: 1.3;

  @media (min-width: $medium) {
    font-size: 64px;
    line-height: 1.2;
  }
}
