@media print {

  @page {
    margin: 20mm 0mm;
    size: auto;
  }
}

body {
  @include font-base;
  background: $color-site-background;
  background: linear-gradient($color-site-background, $color-black);
  font-family: $font-sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;

  @media print {
    margin: 0 4em;
    padding: 0;
  }
}

@media screen {
  body {
    color: $text-base;
  }

  h1, h5 {
    color: $heading-color-1;
  }

  h2, h4, h6 {
    color: $heading-color-2;
  }

  h3 {
    color: $heading-color-3;
  }
}

a {
  color: $link-base;
  text-decoration: none;
  transition: color 100ms;

  &:hover {
    color: $link-hover;
  }

  @media print {
    color: inherit;
  }
}

.section {
  @include container;
  margin-bottom: $spacer * 2;
}

.section--header {
  margin-bottom: $spacer;
  margin-top: $spacer * 2;
}

.section--item-header {
  margin: 0;
}

.section--content {
  margin-bottom: $spacer * 3;
}
