@import './core/index';
@import './icons';
@import './structure';
@import './components/index';

html,
body {
  overscroll-behavior: none;
}

html {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

body {
	@include starfield;
  height: 100%;
  overflow: auto;
}
