@import './core/index';
@import './icons';
@import './structure';
@import './components/index';

html,
body {
  overscroll-behavior: none;
}

html {
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  width: 100%;
}

body {
	@include starfield;
}
